.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

.inlineFlexItem {
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 0;
}

/* Rose Pine theming */
/* body{
    background-color: #91724;
} */