/* @import  url(https://fonts.googleapis.com/css?family=Montserrat); */


.container {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: #2a273f; /* rose pine surface */
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

.inlineFlexItem {
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

body{
    background-color: #191724; /* rose pine base */
    color: #e0def4; /* rose pine text colour */
    font-family: monospace;
}

input{
    border: none;
    background-color: #6e6a86; /* rose pine muted colour */
    color: #e0def4; /* rose pine text colour */
}